tf-env/
venv/
env/
.env
models/
model_dir/
tmp_model/
export/
data/test/
data/trashnet/
*.tar.gz
*.h5
*.pb
*.index
*.data-*
lambda-layer.zip
model_224.tar.gz
model.tar.gz
new_model.tar.gz
model_224_restyled.tar.gz
restructured_model.tar.gz
src/notebooks/my_dir*/
src/notebooks/model_dir
src/aws/model_contents/
src/aws/restructured_model.tar.gz
src/notebooks/restructured_model.tar.gz
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.expo/
.expo-shared/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.tsbundle
.DS_Store
data/.DS_Store
.vscode/
.idea/
*.swp
*.swo
*~
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
ios/build/
ios/Pods/
ios/*.xcworkspace/xcshareddata/
ios/*.xcodeproj/xcshareddata/
android/app/build/
android/build/
android/gradle/
android/local.properties
android/.gradle/
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock
node_modules/
jspm_packages/
.npm
.node_repl_history
*.tgz
.yarn-integrity
.env
tmp/
temp/